<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--当引入vue.js之后，在全局环境会注册一个vue构造函数-->
  <!--设计模式：mvvn mvp mvc-->
  <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
  <input type="text" v-model="name">
  <button v-on:click="handleC">add</button>
  <to-list v-bind:items="items"></to-list>
</div>
<script>
  var vm=new Vue({
    el:'#app',
    data:{
     name:'',
      items:[]
    },
    methods: {
      handleC(){
        this.items.push(this.name)
        this.name=''
      },
      components:{
        'to-list':{
          props:["items"],
          template: `<ul>
                <li v-for="item in items">
                  {{item}}
                </li>
              </ul>`
       }
      }
    }
  })
</script>
</body>
</html>